asn1crypto==0.22.0
Click==7.0
cryptography==1.9
decorator==4.2.1
Django==1.11.10
enum34==1.1.6
Flask==1.0.2
gunicorn==19.9.0
gyp==0.1
idna==2.5
ipaddress==1.0.17
itsdangerous==1.1.0
Jinja2==2.10
keyring==10.4.0
keyrings.alt==2.2
MarkupSafe==1.1.0
networkx==2.1
numpy==1.14.1
olefile==0.44
openshot==1.4.0
Pillow==4.1.1
psycopg2==2.7.4
psycopg2-binary==2.7.4
pycrypto==2.6.1
pycurl==7.43.0
pygobject==3.24.1
python-apt==1.4.0b3
pytz==2018.3
pyxdg==0.25
SecretStorage==2.3.1
selenium==3.11.0
six==1.10.0
sqlparse==0.2.2
virtualenv==15.1.0
Werkzeug==0.14.1
wxPython==3.0.2.0
wxPython-common==3.0.2.0
